# Sitrec .env configuration file for installation specific settings
# using in JS code like: process.env.MAPBOX_TOKEN
# and in PHP code like: getenv('MAPBOX_TOKEN')
# variables not used by JS will not be in the JS environment

# If no terrain server is available, set this to true
# NO_TERRAIN=true

# If you don't want to use the docs on github, then set this to true
# For example, if you have a local copy of the docs that is fixed to a specific version
# or you can't access the internet from the server

LOCAL_DOCS=false

# optional banners above and below the browser window
#BANNER_ACTIVE=true
BANNER_TOP_TEXT="NOTIFICATION MESSAGE"
BANNER_BOTTOM_TEXT="NOTIFICATION MESSAGE"
BANNER_COLOR=#FFFFFF
BANNER_BACKGROUND_COLOR=#377e22
BANNER_HEIGHT=20
BANNER_TEXT_HEIGHT=16
BANNER_FONT="Arial"

# Override version number, which will prevent fetching it from git
#VERSION=Custom-0.1.0

# We default to using the NRL WMTS server for the map tiles
# because it doesn't require an API key or local caching, and so is most likely to work
DEFAULT_MAP_TYPE=NRL_WMTS

# Root path for Xenforo authentication (remove if not used)
# XENFORO_PATH=/srv/www/metabunk.org/public_html/

########################################################################################
# Keys for external services

# Mapbox key is is server-side, so can be generic, useful for testing
MAPBOX_TOKEN=pk..HmBetO0y2IWeyI_p1cO5NA

# Maptiler key is used client-side, so should be domain locked
MAPTILER_KEY=

# Spacedata key is used server-side
SPACEDATA_USERNAME="m"
SPACEDATA_PASSWORD="."

# AWS S3 keys are used server-side
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION="us-west-2"
S3_BUCKET="sitrec"
S3_ACL="public-read"
