<?php

/*
 * This is a simpler configuration file that replaces cachemaps-config.php, other config files, and some in-line settings
 * TIP: to check for simple syntax errors, load this directly.
 * https://localhost/sitrec/sitRecServer/config.php

 */

if (!isset($LOADED_CONFIG)) {
    $LOADED_CONFIG = true;

    // ROOT_URL is the base URL for the site, e.g. "https://www.metabunk.org"
    // by default we have shorting, caching, and uploads as subdirectories of this

    $APP_URL = "https://" . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
    // remove everything after the last slash (including the slash), that will give use the URL of the server directory
    $APP_URL = substr($APP_URL, 0, strrpos($APP_URL, '/'));
    // remove everything after the last slash (leaving the slash)
    $APP_URL = substr($APP_URL, 0, strrpos($APP_URL, '/') + 1);
    // and ROOT_URL is the base URL for the site

    // start with the APP_URL, less the last slash
    $ROOT_URL = substr($APP_URL, 0, -1);
    $ROOT_URL = substr($APP_URL, 0, strrpos($ROOT_URL, '/') + 1);

    // ROOT_PATH is the base directory for the site
    // the default configuration is:
    // $ROOT_PATH /
    //     $ROOT_PATH /   (usually "sitrec/")
    //         sitrecServer / (where all the PHP files are)
    //             config.php   (this file)
    //     sitrec-upload /  (for user uploads, sitches, videos, tracks, etc)
    //     sitrec-cache / (cache for map tiles)
    //     u / (shortened URLs)


    // ROOT_PATH is the base directory for the site,
    // It can be an absolute path, like "/var/www/html"
    // or a relative path from the current directory (i.e. from sitrecServer/config.php)
    // e.g. "../../" or "../"
    $ROOT_PATH = "../../";

    // ROOT_PATH is the base directory for the sitrec application
    $ROOT_PATH = $ROOT_PATH . "sitrec/";

    // FILE_PATH is the base directory for sitrec-upload, sitrec-cache, and u
    // the default installation has these as subdirectories of $ROOT_PATH
    // but you could change this to be an absolute path
    // or to use $ROOT_PATH as the base
    $FILE_PATH = $ROOT_PATH;

    // The following are the DEFAULT values for the various directories
    // you can change them, so long as you change both the directory and the URL
    $UPLOAD_PATH = $ROOT_PATH . "sitrec-upload/";
    $UPLOAD_URL = $ROOT_URL . "sitrec-upload/";

    $CACHE_PATH = $ROOT_PATH . "sitrec-cache/";
    $CACHE_URL = $ROOT_URL . "sitrec-cache/";

    // From shortener.php, for the short URLs
    $SHORTENER_PATH = $ROOT_PATH . 'u/';
    $SHORTENER_URL = $ROOT_URL . "u/";

    // Array of acceptable domains for caching (in cachemaps.php)
    $acceptable_domains = [
        'mickwest.com',  // for testing with the example above
        'c.tile.openstreetmap.org',
        'api.mapbox.com',
        'tiles.maps.eox.at',
        //     's3.amazonaws.com', // We use this directly, no cache
        'geoint.nrlssc.org',
        // Add more domains as needed
    ];

    // Array of acceptable image extensions for caching (in cachemaps.php)
    // remove this if you want to allow all extensions
    $acceptable_extensions = [ "png", "jpg", "tiff", "jpeg", "gif", "webp", "svg", "bmp", "ico", "tif"];

    // replaces cachemaps-config.php
    // and is specific to the Mapbox API
    $token = "?access_token=pk.eyJ1IjoibWlja3dlvmY4aiJ9.HmBetO0y2IWeyI_p1cO5NA";
    $token_url = "api.mapbox.com";

//
// replaces s3-config.php
    $s3creds = ["accessKeyId" => "v",
        "secretAccessKey" => "GRF8vlK3LpsKyX",
        "region" => "us-west-2",
        "bucket" => "sitrec",
        "acl" => "public-read"
    ];
    $useAWS = false;

// replaces space-data-config.php
    $spaceDataUsername = 'com@v.com';
    $spaceDataPassword = 'MGvGT.';

// From proxy.php
    // Lookup table for requests
    $request_url_map = array(
        "CURRENT_STARLINK" => "https://celestrak.org/NORAD/elements/supplemental/sup-gp.php?FILE=starlink&FORMAT=tle"
    );


    $server_config = [
        "UPLOAD"    => $UPLOAD_URL,
        "CACHE"     => $CACHE_URL,
        "SHORTENER" => $SHORTENER_URL,
        "useAWS"    => $useAWS,
    ];


    // if there is a FETCH_CONFIG parameter, then we are fetching the config
    if (isset($_GET["FETCH_CONFIG"])) {
        echo json_encode($server_config);
        exit (0);
    }
}