
.uplot {
    font-family: monospace;
}


.u-legend {
    font-size: 14px;
    margin: auto;
    text-align: left;
    line-height: 1.0;
}


body {
    color: #000;
    font-family:Monospace;
    font-size:20px;
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
}


#output {
    color: #000;
    font-family:Monospace;
    font-size:15px;
    position: absolute;
    top: 50%; width: 60%;

//white-space: pre;
}

#myChart {
    color: #000;
    font-family:Monospace;
    font-size:15px;
    position: absolute;
    top: 50%; width: 60%;
    padding: 10px;
//white-space: pre;
}
a {

    color: #0080ff;
}
.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}

/*
.lil-gui {
    --background-color: #400040;
    --widget-color: #0af;
    --padding: 2px;
    z-index: 200;
}

*/


/* https://lugolabs.com/flat-slider */


.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #f7d2cc;
    border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
    height: 10px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}

.flat-slider .ui-slider-handle {
    width: 13px;
    height: 15px;
    background: #38b11f;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -7.5px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -6.5px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7;
    background: #dfe385;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}